.toolbox-card {
    background: linear-gradient(45deg, rgb(23, 8, 53) 0%, rgb(45, 24, 87) 100%);
    padding: 2em 1em 1em;
    max-width: 12em;
    min-height: 16em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 5px;
    position: relative;
}

.toolbox-card--content svg {
    position: absolute;
    top: 2em;
    transform: rotate(-30deg);
    right: 0;
    width: 10em;
    height: 10em;
    color: rgba(132, 124, 181, 0.4);
}

.toolbox-card--content h3 {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    color: #c4c1da;
}

.toolbox-card--content p {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    color: #847cb5;
}